@import "./variables";

.buttonsFixed {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	display: flex;
	justify-content: space-around;
	align-items: center;
	& #botonDarkMode {
		position: relative;
		top: 30px;
		background-color: #171717;
		color: $rojo;
		padding: 1rem;
		border: none;
		border-radius: 20px;
		font-size: 1.7rem;
		font-weight: 900;
		letter-spacing: 1px;
		cursor: pointer;
	}
	& #botonLightMode {
		position: relative;
		top: 30px;
		background-color: $blanco;
		color: $rojo;
		padding: 1rem;
		border: none;
		border-radius: 20px;
		font-size: 1.7rem;
		font-weight: 900;
		letter-spacing: 1px;
		cursor: pointer;
	}
}

i.fas.fa-history {
	color: $blanco;
	line-height: 50px;
	text-align: center;
	font-size: 2.8rem;
	position: relative;
	top: 30px;
	left: -10px;
	cursor: pointer;
}

i.fas.fa-history::before {
	content: "\f1da";
	display: inline-block;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: $rojo;
}

i.fas.fa-align-center {
	color: $blanco;
	font-size: 2.8rem;
	line-height: 49px;
	text-align: center;
	position: relative;
	top: 30px;
	right: -10px;
	cursor: pointer;
}

i.fas.fa-align-center::before {
	content: "\f037";
	display: inline-block;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: $rojo;
}

.historialNav {
	color: $blanco;
	width: 55%;
	max-width: 380px;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
	overflow-y: scroll;
	background-color: $rojo;
	padding-top: 7.8rem;
	text-align: center;
	transform: translateX(-100%);
	transition: all 250ms ease-in;
}

.historialNav__active {
	transform: translateX(0%);
}

.historialNav h3 {
	font-size: 2.3rem;
	font-weight: 600;
}

.historialNav .containerResult {
	background-color: $blanco;
	width: 90%;
	margin: 2rem auto;
	padding: 0.9rem;
	border-radius: 20px 4px;
	position: relative;
}

.historialNav .title {
	color: $rojo;
	margin: 0.3rem 0rem 0rem 0rem;
	font-size: 2rem;
	font-weight: 800;
}

.historialNav .result {
	color: $rojo;
	font-size: 1.7rem;
	font-weight: 400;
}

.historialNav .date {
	position: absolute;
	top: 3px;
	right: 6px;
	color: $rojo;
	font-size: 0.9rem;
	font-weight: 700;
}

.cantOpertaions {
	position: absolute;
	top: -8px;
	right: -10px;
	background-color: $blanco;
	width: 26px;
	height: 26px;
	border: 2px solid $rojo;
	border-radius: 50%;
	font-size: 1.5rem;
	text-align: center;
	line-height: 23px;
}

.cantOpertaions p {
	color: $rojo;
}

.navMobile {
	width: 100%;
	height: 100%;
	background-color: $rojo;
	position: fixed;
	z-index: 99;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translateX(-100%);
	transition: all 250ms ease-in;
}

.navMobile a {
	display: block;
	margin: 5rem;
	padding: 1.5rem;
	border-radius: 25px;
	text-transform: uppercase;
	color: $blanco;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 2rem;
}

.navMobile a:hover {
	background-color: $blanco;
	color: $rojo;
}

.navMobile__active {
	transform: translateX(0%);
}

.indexContainer {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $rojo;
}

.textContainer {
	width: 100%;
	&__presentation {
		font-size: 3.6rem;
		font-weight: 900;
		margin-bottom: 0.5rem;
	}
	&__textDescription {
		font-size: 2.3rem;
		font-weight: 400;
		margin-top: -1rem;
		& span {
			font-weight: 800;
		}
	}
	&__textFinal {
		width: 90%;
		margin: 0 auto;
		font-size: 1.6rem;
		font-weight: 300;
		margin-top: 0.3rem;
	}
}

.indexContainer a {
	text-decoration: none;
	text-transform: none;
}

p.fas.fa-arrow-down {
	color: $rojo;
	font-size: 5.8rem;
	position: absolute;
	top: 450px;
	left: calc(50% - 23px);
	animation: move 2s ease infinite;
}

@keyframes move {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(18px);
	}
	100% {
		transform: translateY(0px);
	}
}

.imgContainer {
	display: none;
}

.economy {
	width: 100%;
	text-align: center;
	&__title {
		background-color: $rojo;
		color: $blanco;
		display: inline-block;
		margin: 4rem auto;
		padding: 1.1rem 1.6rem;
		box-shadow: 8px 10px 0px #e67968;
		text-transform: uppercase;
		font-size: 2.4rem;
		font-weight: 900;
		letter-spacing: 1px;
	}
	&__description {
		color: $rojo;
		font-size: 2.1rem;
		font-weight: 800;
	}
	&__textContainer {
		width: 85%;
		max-width: 510px;
		margin: 2.6rem auto;
		background-color: $rojo;
		color: $blanco;
		border-radius: 10px;
		padding: 1rem 1.4rem;
		position: relative;
		& ul li {
			font-size: 1.25rem;
			width: 75%;
			margin: 1rem auto;
		}
		& p {
			font-size: 1.5rem;
			width: 75%;
			margin: 0.4rem auto;
			font-weight: 700;
		}
	}
}

.calcs {
	width: 100%;
	text-align: center;
	color: $rojo;
	&__calculadora {
		width: 100%;
		&__title {
			color: $rojo;
			font-size: 2.65rem;
			font-weight: 600;
			margin: 2rem 0 1.2rem 0;
		}
		&__container {
			width: 290px;
			height: 330px;
			margin: 2.2rem auto;
			padding: 8px;
			border-radius: 10px;
			background-color: $rojo;
			box-shadow: 0px 0px 25px $rojo;
			& #pantalla {
				display: block;
				width: 95%;
				height: 7rem;
				margin: 1rem auto 2rem auto;
				padding: 8px;
				background-color: $blanco;
				outline: none;
				border: none;
				border-radius: 8px;
				text-align: end;
				color: $rojo;
				font-size: 3.5rem;
				font-weight: 900;
				overflow-x: scroll;
			}
			&__buttons {
				width: 95%;
				margin: 0 auto;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr 1fr;
				gap: 1.5rem;
				& .botones {
					width: 40px;
					height: 40px;
					border: none;
					border-radius: 16px;
					text-align: center;
					font-size: 2.1rem;
					font-weight: 600;
					cursor: pointer;
					color: $rojo;
					background-color: $blanco;
					transition: all 200ms ease;
					&:active {
						transform: scale(0.9);
					}
				}
				& .funciones {
					width: 40px;
					height: 40px;
					border: none;
					border-radius: 16px;
					text-align: center;
					font-size: 2.1rem;
					font-weight: 600;
					cursor: pointer;
					color: $rojo;
					background-color: $blanco;
					transition: all 200ms ease;
					&:active {
						transform: scale(0.9);
					}
				}
			}
		}
	}
	&__title {
		background-color: $rojo;
		color: $blanco;
		display: inline-block;
		margin: 9rem auto 4rem auto;
		padding: 1.1rem 1.6rem;
		box-shadow: 8px 10px 0px #e67968;
		text-transform: uppercase;
		font-size: 2.4rem;
		font-weight: 900;
		letter-spacing: 1px;
	}
	&__text1 {
		font-size: 2rem;
		font-weight: 800;
		margin-bottom: 0.3rem;
	}
	&__text2 {
		color: $rojo;
		font-size: 1.6rem;
		font-weight: 400;
	}
	&__1 {
		font-size: 1.75rem;
		font-weight: 400;
		margin: 0.5rem;
	}
	&__form {
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		&__title {
			color: $rojo;
			font-size: 2.65rem;
			font-weight: 600;
			margin: 2rem 0 1.2rem 0;
		}
		& div {
			width: 100%;
			margin: 1rem;
		}
		& label {
			display: block;
			color: $rojo;
			font-size: 1.6rem;
			margin: 0.5rem 0;
		}
		& input {
			width: 100%;
			max-width: 665.6px;
			border: 3px solid $rojo;
			background-color: transparent;
			font-size: 2.1rem;
			font-weight: 800;
			padding: 1.6rem;
			margin: 0.5rem 0;
			border-radius: 40px;
			color: $rojo;
			&:focus {
				outline: none;
			}
		}
		& button {
			background-color: $rojo;
			padding: 1.4rem;
			margin: 1.5rem;
			border-radius: 16px;
			border: none;
			text-transform: uppercase;
			color: $blanco;
			font-size: 1.6rem;
			font-weight: 600;
			cursor: pointer;
			transition: transform 200ms ease;
			&:hover {
				box-shadow: 0px 0px 25px $rojo;
			}
			&:active {
				transform: scale(0.97);
			}
		}
	}
}

.modalError {
	position: fixed;
	top: 16px;
	left: calc(50% - 145px);
	z-index: 200;
	width: 290px;
	background-color: $rojo;
	padding: 1.4rem;
	border-radius: 20px 4px;
	box-shadow: 0px 0px 18px $rojo;
	text-align: center;
	color: #171717;
	& p:nth-child(1) {
		font-size: 3rem;
		font-weight: 900;
	}
	& p:nth-child(2) {
		font-size: 1.4rem;
		font-weight: 500;
	}
}

#resultDolarOrInflation {
	width: 90%;
	margin: 0.5rem auto 2rem auto;
	color: $rojo;
	& h3 {
		font-size: 2rem;
		font-weight: 500;
	}
	& p {
		font-size: 3.2rem;
		font-weight: 700;
	}
}

#resultSalary {
	width: 90%;
	margin: 1.2rem auto 0rem auto;
	color: $rojo;
	& h3 {
		font-size: 2rem;
		font-weight: 500;
	}
	& p {
		font-size: 3.7rem;
		font-weight: 700;
	}
}

.history {
	width: 100%;
	text-align: center;
	&__title {
		background-color: $rojo;
		color: $blanco;
		display: inline-block;
		margin: 6rem auto 3rem auto;
		padding: 1.1rem 1.6rem;
		box-shadow: 8px 10px 0px #e67968;
		text-transform: uppercase;
		font-size: 2.4rem;
		font-weight: 900;
		letter-spacing: 1px;
	}
	&__text {
		color: $rojo;
		font-size: 2rem;
		font-weight: 800;
		width: 90%;
		margin: 0 auto 2rem auto;
	}
	&__cardsContainer {
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		&__card {
			width: 100%;
			height: auto;
			color: $blanco;
			text-align: initial;
			background-color: $rojo;
			border-radius: 10px;
			margin-bottom: 4rem;
			padding: 1.5rem;
			&__title {
				font-size: 1.7rem;
				font-weight: 600;
			}
			&__text {
				font-size: 1.4rem;
				margin-top: 0.2rem;
			}
		}
	}
	&__economist {
		color: $rojo;
		font-size: 2rem;
		font-weight: 800;
	}
}

.carrusel {
	margin-top: 3rem;
}

.carrusel-items {
	display: flex;
	gap: 4.5rem;
	overflow-x: scroll;
	overflow-y: hidden;
}

.carrusel-item {
	min-width: 250px;
	max-width: 250px;
	height: 260px;
}

.carrusel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 2px solid $rojo;
	border-radius: 2px 15px;
}

.footer {
	width: 100%;
	height: 200px;
	background-color: $rojo;
	margin-top: 6rem;
	text-align: center;
	&__container {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		& p {
			color: $blanco;
			font-size: 1.8rem;
			font-weight: 800;
		}
		& div {
			margin-top: 1rem;
		}
		& div img {
			width: 55px;
			height: 55px;
			border-radius: 4px;
			margin: 0 1rem;
			object-fit: cover;
			transition: all 200ms ease-in;
		}
	}
}

// MEDIA QUERIES
@media screen and (min-width: 600px) {
	.economy__textContainer p {
		width: 80%;
		font-size: 1.8rem;
	}
	.economy__textContainer ul li {
		font-size: 1.3rem;
		margin: 2rem auto;
	}
	.calcs__form button {
		font-size: 1.7rem;
	}
	.history__economist {
		font-size: 2.1rem;
		margin: 2rem 0;
	}
	.footer__container p {
		font-size: 2.1rem;
	}
	.footer__container div img {
		width: 75px;
		height: 75px;
	}
}

@media screen and (min-width: 700px) {
	.calcs__form {
		width: 65%;
	}
	.history__text {
		margin: 2rem auto;
	}
	.history__cardsContainer {
		width: 70%;
	}
	.footer__container div img {
		margin: 0rem 1.5rem;
	}
}

@media screen and (min-width: 850px) {
	.buttonsFixed i.fas.fa-history {
		left: -70px;
	}
	.buttonsFixed i.fas.fa-align-center {
		right: -70px;
	}
	.textContainer__presentation {
		font-size: 5rem;
	}
	.textContainer__textDescription {
		font-size: 2.8rem;
	}
	.textContainer__textFinal {
		font-size: 1.9rem;
		width: 70%;
	}
}

@media screen and (min-width: 1024px) {
	.indexContainer {
		flex-direction: row;
		justify-content: space-evenly;
	}
	.textContainer {
		width: 50%;
	}
	.imgContainer {
		display: block;
		width: 320px;
		height: 320px;
	}
	.imgContainer img {
		width: 100%;
		height: 100%;
	}
	p.fas.fa-arrow-down {
		left: calc(50% - 20px);
		top: 450px;
	}
	.history__cardsContainer {
		flex-direction: row;
		justify-content: space-evenly;
		gap: 3rem;
	}
	.history__cardsContainer__card {
		width: 350px;
		height: 190px;
	}
	.footer__container p {
		font-size: 2.2rem;
	}
	.footer__container div img {
		width: 82px;
		height: 82px;
	}
}

@media screen and (min-width: 1300px) {
	.buttonsFixed i.fas.fa-history {
		left: -150px;
	}
	.buttonsFixed i.fas.fa-align-center {
		right: -150px;
	}
	p.fas.fa-arrow-down {
		top: 500px;
	}
	.imgContainer {
		width: 340px;
		height: 340px;
	}
	.calcs__calculadora {
		margin-top: 3.2rem;
	}
	.calcs__calculadora__title {
		font-size: 3.1rem;
		margin-bottom: 2.7rem;
	}
	.calcs__form__title {
		font-size: 3.1rem;
	}
	.calcs__form label {
		font-size: 1.8rem;
	}
	.calcs__form input {
		font-size: 2.3rem;
	}
	.history__text {
		margin: 4rem auto;
	}
	.history__economist {
		margin: 3rem auto 5rem auto;
	}
}

@media screen and (max-height: 560px) {
	.navMobile a {
		margin: 4rem;
		padding: 1rem;
	}
}
@media screen and (max-height: 540px) {
	p.fas.fa-arrow-down {
		top: 380px;
	}
}
@media screen and (max-height: 480px) {
	.navMobile a {
		margin: 3.2rem;
		padding: 1rem;
	}
}
@media screen and (max-height: 470px) {
	p.fas.fa-arrow-down {
		top: 320px;
	}
}
@media screen and (max-height: 460px) {
	.navMobile a {
		margin: 2.6rem;
		padding: 0.8rem;
		font-size: 1.8rem;
	}
}
@media screen and (max-height: 410px) {
	p.fas.fa-arrow-down {
		top: 290px;
	}
	.navMobile {
		padding-top: 7rem;
	}
}
@media screen and (max-height: 365px) {
	p.fas.fa-arrow-down {
		display: none;
	}
	.textContainer {
		margin-top: 2rem;
	}
}
@media screen and (max-height: 340px) {
	.navMobile {
		padding-top: 5rem;
	}
	.links {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.navMobile a {
		margin: 2rem;
		padding: 1rem;
		font-size: 1.7rem;
	}
}
@media screen and (max-height: 300px) {
	.textContainer {
		margin-top: 5rem;
	}
}
@media screen and (max-height: 250px) {
	.textContainer {
		margin-top: 7rem;
	}
	.navMobile a {
		margin: 1rem;
		padding: 0.8rem;
	}
}
@media screen and (min-height: 630px) {
	p.fas.fa-arrow-down {
		top: 480px;
	}
}
@media screen and (min-height: 650px) {
	p.fas.fa-arrow-down {
		top: 500px;
	}
}
@media screen and (min-height: 730px) {
	p.fas.fa-arrow-down {
		top: 550px;
	}
}
@media screen and (min-height: 800px) {
	p.fas.fa-arrow-down {
		top: 600px;
	}
}
@media screen and (min-height: 930px) {
	p.fas.fa-arrow-down {
		top: 700px;
	}
}
